.burger-menu {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.burger-menu:hover {
    color: #ffd700; /
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #042B44;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 0; 
    overflow-x: hidden;
    transition: 0.5s; 
}

.menu-container a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.menu-container a:hover {
    color: #ffd700; 
}